@model CarRentalApp.CustomerAccounts

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CustomerAccounts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAddress" class="control-label"></label>
                <input asp-for="CustomerAddress" class="form-control" />
                <span asp-validation-for="CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPhoneNumber" class="control-label"></label>
                <input asp-for="CustomerPhoneNumber" class="form-control" />
                <span asp-validation-for="CustomerPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerEmailAddress" class="control-label"></label>
                <input asp-for="CustomerEmailAddress" class="form-control" />
                <span asp-validation-for="CustomerEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDriversLicenseNumber" class="control-label"></label>
                <input asp-for="CustomerDriversLicenseNumber" class="form-control" />
                <span asp-validation-for="CustomerDriversLicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerCreditCardNumber" class="control-label"></label>
                <input asp-for="CustomerCreditCardNumber" class="form-control" />
                <span asp-validation-for="CustomerCreditCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAccountCreationDate" class="control-label"></label>
                <input asp-for="CustomerAccountCreationDate" class="form-control" />
                <span asp-validation-for="CustomerAccountCreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
